<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-4xl text-black c-anchor font-thin" id="top">Hobbyist to Open Source Founder</h1>
        <h1 class="text-4xl text-black c-anchor font-thin">FOSS and My Journey to Building Impactful Software</h1>
        <h3 class="text-l text-gray-500 font-thin">20th September 2025</h3>
        <div class="flex justify-center">
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="abstract">Abstract</h1>

        <p class="mt-4">
            Building your own personal projects is fantastic. Building something that meaningfully helps people across the world? I don't know that feeling, but maybe one day I might!
        </p>
        <p class="mt-4">
            This talk follows my journey from building personal projects, to now building my first open-source library, and the many discoveries I've made along the way. Like how 'open source' isn't just one thing, but a strategic landscape of licensing and business models. Or how the motivations behind open source contributors are more complex than you might think.
        </p>
        <p class="mt-4">
            Whether you're building personal projects wondering if they could help others, considering your first open source contribution, or curious about the strategic thinking behind the tools you use every day, you'll leave with a clearer understanding of how to navigate the open source ecosystem - and maybe inspiration for your own journey from personal projects to projects that matter to others.
        </p>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin mb-4" id="summary">Recording and Slides</h1>
        <div>
            <iframe style="width: 100%; aspect-ratio: 16 / 9" src="https://www.youtube.com/embed/Z88geea9D2w?si=U57__dfMto1ztVpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="mt-3">
            <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://docs.google.com/presentation/d/10kZDs1IWZVmO16OnKoJ59By4qbGBf96Zgf2rIdrMT_k/edit?usp=sharing">Google Slides link</a>
        </div>
        <div class="mt-3">
            <iframe #slides src="https://docs.google.com/presentation/d/e/2PACX-1vSY7gXM6B1Gi8g4zyCZhN1KHvj9Ci_oB7AP9YJQJ4GqLgwMU0xmV_ee09adiLJZ43NO3mm5LsiqcVhW/pubembed?start=false&loop=false&delayms=3000&slide=2" [width]="'100%'" [height]="'100%'" style="aspect-ratio: 16/9"></iframe>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="errata">Errata</h1>
        <ul class="ml-6 list-disc">
            <li>No errors or corrections raised yet. To report any, please get in touch with me! Feedback is greatly appreciated.</li>
        </ul>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="other-resources">References</h1>
        <span>
            References appear in order of appearance in the presentation.
        </span>
        <div>
            <h3 class="text-xl mt-6">Open Source: How did we get here?</h3>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.gnu.org/philosophy/free-sw.html">gnu.org: What is Free Software?</a>
                    </div>
                    <div>
                        Explanation of 'Free Software' provided by the GNU Project
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://opensource.org/osd">The Open Source Definition</a>
                    </div>
                    <div>
                        The definition of 'Open Source Software' provided by the Open Source Initiative
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://opensource.org/license/mit">The MIT License</a>
                    </div>
                    <div>
                        The MIT License as provided by the Open Source Initiative
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.researchgate.net/publication/264799695_The_freelibre_and_open_source_software_survey_and_study-FLOSS_final_report">The free/libre and open source software survey and study (Ghosh, Glott, Krieger & Robles, 2002)</a>
                    </div>
                    <div>
                        Report including research on the motivations of FOSS contributors in the early 2000s
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://arxiv.org/abs/2101.10291">The Shifting Sands of Motivation: Revisiting What Drives Contributors in Open Source (Gerosa et al., 2021)</a>
                    </div>
                    <div>
                        Research on the motivations of FOSS contributors from 2021, with comparisons against early 2000s research
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://opensource.com/article/21/4/motivates-open-source-contributors">What motivates open source software contributors?</a>
                    </div>
                    <div>
                        A brief summary of (Gerosa et al., 2021)
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.hbs.edu/faculty/Pages/item.aspx?num=65268">Contributing to Growth? The Role of Open Source Software for Global Startups (Wright, Nagle & Greenstein, 2024)</a>
                    </div>
                    <div>
                        Harvard Business School working paper on the role of OSS in startups
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://semianalysis.com/2023/05/04/google-we-have-no-moat-and-neither/">Google "We Have No Moat, And Neither Does OpenAI"</a>
                    </div>
                    <div>
                        A leaked internal Google memo
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://about.fb.com/news/2024/07/open-source-ai-is-the-path-forward/">Open Source AI is the Path Forward</a>
                    </div>
                    <div>
                        Public statement from Meta
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://arxiv.org/abs/2409.17876v1">Why Companies "Democratise" Artificial Intelligence: The Case of Open Source Software Donations</a>
                    </div>
                    <div>
                        Article on the motivations of large companies contributing to open source AI projects
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://github.com/todogroup/ospodefinition.org">Open Source Program Office (OSPO) Definition and Guide</a>
                    </div>
                    <div>
                        Definition and guide to Open Source Program Offices (OSPOs) from the TODO Group
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://opensource.com/article/20/5/open-source-program-office">A guide to setting up your Open Source Program Office (OSPO) for success</a>
                    </div>
                    <div>
                        Article on setting up an OSPO from opensource.com
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.linuxfoundation.org/research/ospo-2025">The 2025 State of OSPOs and Open Source Management</a>
                    </div>
                    <div>
                        2025 Annual Report on the state of OSPOs published by the Linux Foundation in partnership with the TODO Group, CNCF, FossID and FinOps
                    </div>
                </li>
            </ul>
            <h3 class="text-xl mt-6">The Impact of FOSS</h3>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://impactfrontiers.org/norms/five-dimensions-of-impact/">Five Dimensions of Impact</a>
                    </div>
                    <div>
                        Explanation of the Five Dimensions of Impact framework as a way of analysing impact in the for-purpose sector
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://impactfrontiers.org/norms/five-dimensions-of-impact/how-much/">Five Dimensions of Impact | How Much</a>
                    </div>
                    <div>
                        "How Much" in impact as a product of Scale, Depth and Duration
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.opendatacube.org/">Open Data Cube</a>
                    </div>
                    <div>
                        An open source project for managing and analysing large amounts of satellite data
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.researchgate.net/publication/322697016_Impact_of_Free_and_Open-source_Software_Paradigm_for_Environmental_Sustainability">Impact of Free and Open-source Software Paradigm for Environmental Sustainability (Nanayakkara, 2017)</a>
                    </div>
                    <div>
                        Article detailing the environmental benefits of the adoption of Moodle by the University of Moratuwa in Sri Lanka
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://openimis.org/">openIMIS</a>
                    </div>
                    <div>
                        An open source project for managing health financing and social protection programs
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.hbs.edu/faculty/Pages/item.aspx?num=65230">The Value of Open Source Software (Hoffmann, Nagle & Zhou, 2024)</a>
                    </div>
                    <div>
                        Harvard Business School working paper on the value of OSS estimated at $4.15 billion supply-side, or $8.8 trillion demand-side
                    </div>
                </li>
            </ul>
            <h3 class="text-xl mt-6">Ways to Have an Impact</h3>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://opensource.guide/how-to-contribute/">How to Contribute to Open Source</a>
                    </div>
                    <div>
                        Article for beginners on how to contributing to open source projects, published by opensource.guide
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://www.antler.co/academy">Antler Academy</a>
                    </div>
                    <div>
                        Free resources for founders, entrepreneurs and startups by Antler, an early-stage VC and startup accelerator
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
