<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-4xl text-black c-anchor font-thin" id="top">Hobbyist to Open Source Founder</h1>
        <h1 class="text-4xl text-black c-anchor font-thin">FOSS and My Journey to Building Impactful Software</h1>
        <h3 class="text-l text-gray-500 font-thin">20th September 2025</h3>
        <div class="flex justify-center">
<!--            <img class="object-center w-3/5" src="assets/polars-pandas-splash.png">-->
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="summary">Slides</h1>
        <div>
            <div>
                ... will be available here after Saturday the 20th September 2025.
            </div>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="errata">Errata</h1>
        <ul class="ml-6 list-disc">
            <li>No errors or corrections raised yet. To report any, please get in touch with me! Feedback is greatly appreciated.</li>
        </ul>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="other-resources">References</h1>
        <div>
            <h3 class="text-xl">Free and Open Source Software</h3>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://pola.rs/posts/benchmarks/">Polars TPCH Benchmarks</a>
                    </div>
                    <div>
                        Polars performance benchmark data as per the Polars blog.
                    </div>
                </li>
            </ul>
            <h3 class="text-xl">Impact</h3>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://pola.rs/posts/benchmarks/">Polars TPCH Benchmarks</a>
                    </div>
                    <div>
                        Polars performance benchmark data as per the Polars blog.
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="conclusion">Empty section</h1>
        <div>
            <p>In case I need it later</p>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
