<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-4xl text-black c-anchor font-thin" id="top">Time Range Transformations - A Comprehensive Guide</h1>
        <h3 class="text-l text-gray-500 font-thin">11th January 2025</h3>
        <div class="flex justify-center">
            <img class="object-center w-3/5" src="assets/polars-pandas-splash.png">
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="summary">Intro</h1>
        <div>
            <div>
                <a class="text-cyan-600 hover:text-cyan-900 hover:underline" href="https://pola.rs/">Polars</a> is fast becoming one of my favourite Python packages to use. It offers itself as a new but hard-hitting competitor to <a class="text-cyan-600 hover:text-cyan-900 hover:underline" href="https://pandas.pydata.org/">Pandas</a>, the de-facto data table library for Python since 2008, spruiking features like built-in parallelisation, query optimisation, significant performance improvements over Pandas, strict typing and immutability for columns - to name its most impressive qualities thus far.
            </div>
            <div class="mt-4">
                After hearing the pitch and trying the library in my own work instead of Pandas, I was sold. The next step, was to get the people I work with on board as well, and this is a bit more tricky. Introducing a new package to a team - especially one which attempts to be a replacement for an existing package, can invoke a healthy amount of scepticism. Great that it's selling us these improvements over what we already use, but what about the many other considerations we need to take that aren't Polars' selling points?
            </div>
            <ul class="mt-3 ml-6 list-disc">
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('performance')">Performance</a></li>
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('syntax')">Syntax</a></li>
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('functionality')">Functionality</a></li>
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('ecosystem')">Ecosystem</a></li>
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('conclusion')">Conclusion</a></li>
                <li><a class="text-cyan-600 hover:text-cyan-900 hover:underline cursor-pointer" (click)="scrollToSelector('other-resources')">Other Resources</a></li>
            </ul>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="algorithm">Algorithm</h1>
        <div>
            <p>Polars' biggest selling point is its significant performance improvements compared to Pandas and other data frame libraries for Python. You can check out their <a class="text-cyan-600 hover:text-cyan-900 hover:underline" href="https://pola.rs/posts/benchmarks/">performance on the TPCH benchmark here</a>.</p>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-cyan-50 py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="other-resources">Why like this...</h1>
        <div>
            <div class="mt-3">
                Here are some more resources online for more on Polars and Pandas.
            </div>
            <ul class="ml-6 list-disc">
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://pola.rs/posts/benchmarks/">Polars TPCH Benchmarks</a>
                    </div>
                    <div>
                        Polars performance benchmark data as per the Polars blog.
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://pola-rs.github.io/polars/user-guide/misc/alternatives/">Alternatives (Polars documentation)</a>
                    </div>
                    <div>
                        A more complete list of other Python dataframe libraries and their features in comparison with Polars.
                    </div>
                </li>
                <li>
                    <div>
                        <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://wesmckinney.com/blog/apache-arrow-pandas-internals/">Wes McKinney - Apache Arrow and the "10 things I hate about pandas"</a>
                    </div>
                    <div>
                        Wes McKinney is the creator and <a class="text-cyan-600 hover:text-cyan-800 hover:underline transition-all" href="https://en.wikipedia.org/wiki/Benevolent_dictator_for_life">BDFL</a> of the Pandas library. This 2017 article lists 10 shortcomings of Pandas in the eyes of its creator. Note that this article was written before both Polars and Pandas 2.0 were released, and both libraries now address many of the 10 shortcomings listed in some way.
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
<div class="w-100 flex bg-white py-4">
    <div class="flex-col w-1/12 sm:w-2/12"></div>
    <div class="flex-col w-10/12 sm:w-8/12">
        <h1 class="text-3xl text-black c-anchor font-thin" id="conclusion">So what now</h1>
        <div>
            <p>Polars' biggest selling point is its significant performance improvements compared to Pandas and other data frame libraries for Python. You can check out their <a class="text-cyan-600 hover:text-cyan-900 hover:underline" href="https://pola.rs/posts/benchmarks/">performance on the TPCH benchmark here</a>.</p>
        </div>
    </div>
    <div class="flex-col w-1/12 sm:w-2/12"></div>
</div>
