<div style="scrollbar-gutter: stable">
    <header class="bg-cyan-800 text-white py-1 w-full fixed top-0 h-8">
        <span class="px-3">
            <span class="absolute text-white font-light">Ja-Jet Loh</span>
            <span class="relative text-cyan-500 font-light -z-10 select-none" style="left: 1.5px; top: 1.5px">Ja-Jet Loh</span>
        </span>
        <a class="text-white font-light hover:text-cyan-400 transition-all duration-200 cursor-pointer py-1 mx-3" href="#about-me">About Me</a>
        <a class="text-white font-light hover:text-cyan-400 transition-all duration-200 cursor-pointer py-1 mx-3" href="#projects">Projects</a>
        <a class="text-white font-light hover:text-cyan-400 transition-all duration-200 cursor-pointer py-1 mx-3" href="#contact">Contact</a>
    </header>
    <div class="h-8 w-full"></div> <!-- Spacing for sticky header -->
    <div>
        <router-outlet></router-outlet>
    </div>

</div>

